.article {
  padding: 2rem 10rem;
}

.title {
  font-size: 2.5rem;
  color: blueviolet;
}

.content {
  font-size: 1.3rem;
}

.back {
  color: blueviolet;
}

.back:hover {
  text-decoration: underline;
}
.links {
  display: flex;
  flex-direction: column;
}
