.header {
  color: #333;
  padding: 1rem 3rem;
  /* border: 2px solid red; */
  font-size: 1.2rem;
  background-color: aliceblue;
  box-shadow: 0 2px 6px blueviolet;
}

.navMenu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 2px solid blue; */
}

.navItem {
  margin-left: 1rem;
  /* border: 3px solid magenta; */
}

.navLink {
  /* border: 2px solid green; */
  padding: 0.5rem 0 0.5rem 1rem;
}
.navLink:hover {
  color: blueviolet;
}
